<plugin>
	<nom><multi>[fr]SPIP-Listes[en]SPIP-Lists[ar]&#1604;&#1608;&#1575;&#1574;&#1581; SPIP</multi></nom>
	<auteur>BoOz@rezo.net</auteur>
	<version>1.97</version>
	<etat>test</etat>
	<icon>spip-listes.png</icon>
	<description><multi>[fr]Listes d'informations par email[en]Newsletter by e-mail[ar]&#1606;&#1588;&#1585;&#1577; &#1576;&#1585;&#1610;&#1583;&#1610;&#1577;</multi></description>
	<options>spiplistes_mes_options.php</options>
	<fonctions>spiplistes_mes_fonctions.php</fonctions>
	<prefix>spiplistes</prefix>
	<install>base/spiplistes_upgrade.php</install>
	<lien>[Documentation->../plugins/spip-listes_1_9_2/docs/__installation_fr.txt]</lien>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBoutons</action>
		<inclure>spiplistes_boutons.php</inclure>
	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
	</pipeline>
	<chemin dir='' />
	<necessite id="SPIP" version="[1.9.0;]" />
</plugin>
