<plugin>
	<nom> <!-- Nom du plugin -->
	Google analytics
	</nom>
	<auteur> <!-- Auteur du plugin -->
	Phil
	</auteur>
	<version>
	0.2
	</version>
	<etat>
	stable
	</etat>
	<description>
	Ajoute le script Google analytics dans l'espace public en ins&eacute;rant le code perso de google analytics dans l'espace
 priv&eacute;
 <h4>[Configuration->.?exec=cfg&amp;cfg=googleanalytics]</h4>
	</description>
	<icon>ga.png</icon>
	<lien>
		[Documentation->http://www.spip-contrib.net/?article2495]
    </lien>
	<prefix>
	googleanalytics
	</prefix>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>head.php</inclure>
	</pipeline>
</plugin>
